<p>Course Goals:</p>
<ul>
<li>Recognize essential elements of end of life care.</li><li>Objectives: Identify and explain four domains of end of life care:</li><li>Physical Comfort</li><li>Mental and Emotional Needs</li><li>Spiritual Needs</li><li>Practical Tasks</li><li>Identify legal and structural frameworks for care</li><li>Objectives: Identify key elements of legal and structural frameworks for end of life care</li><li>Advance directive</li><li>Do Not Resuscitate Directive</li><li>Palliative Care</li><li>Hospice Care</li><li>Be prepared to work in a care team to address a patient’s needs.</li><li>Objectives: Identify key elements of end of life care teams and explain how they can work together on a unique care plan</li><li>Nurses</li><li>Doctors and other medical professionals</li><li>Family</li><li>Community and other support</li></ul>

<h2>Course Goals:</h2>
<ul>
<li><h3>Recognize essential elements of end of life care.</h3>

<h4>Objectives:< Identify and explain four domains of end of life care:</li><li>Physical Comfort</li><li>Mental and Emotional Needs</li><li>Spiritual Needs</li><li>Practical Tasks</li><li>

Identify legal and structural frameworks for care</li><li>
Objectives: Identify key elements of legal and structural frameworks for end of life care</li><li>Advance directive</li><li>Do Not Resuscitate Directive</li><li>Palliative Care</li><li>Hospice Care</li><li>

Be prepared to work in a care team to address a patient’s needs.</li><li>
Objectives: 
Identify key elements of end of life care teams and explain how they can work together on a unique care plan</li><li>Nurses</li><li>Doctors and other medical professionals</li><li>Family</li><li>Community and other support</li></ul>